html {
  background-color: pink;  /* for debugging */
}

body {
  margin: 0;
  padding: 0;
}

canvas[doodle-surface] {
  width: 100%;
  height: 100%;
  display: block;
  outline: 1px solid black;
  clear: both;
/*background-color: #FFFF98;*/
  background-color: #ffffff;
}

.doodle-tools button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.25em;
  text-shadow: 1px 1px 2px rgb(179, 179, 179);
}


.doodle-tools .dashboard a.btn {
  display: inline-block; /* anchors act funny */
}

/** Clickability hack: SVG not a TextNode, I'm guessing? */
.doodle-tools .dashboard > a.btn{ position: relative; }
.doodle-tools .dashboard > a.btn .clickability-hack {
  opacity: 0;
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.doodle-tools .dashboard .btn[disabled] svg {
  opacity: 0.5;
}

.doodle-tools .dashboard {
  padding: 0 0 .75ex .5ex;
}

.doodle-tools .dashboard .help-info {
  font-family: sans-serif;
  font-size: 1.7ex;
  padding-left: 1em;
  margin-top: 1em;
}

.doodle-tools .dashboard .help-info:after {
  display: block;
  content: ' ';
  margin-bottom: .75ex;
}

.doodle-tools .dashboard .help-info .version-tag {
  font-family: monospace;
  text-transform: uppercase;
}

.doodle-tools .dashboard .help-info abbr {
  text-transform: none;
  font-variant: small-caps;
}

.doodle-tools .dashboard .help-info doodle-version-feedback {
  padding-left: 1ex;
}
